// Переменные шрифтов
$roboto: 'Roboto', 'Verdana', sans-serif;

// Размер шрифта
$main-size-text: 14px;
$second-size-text: 12px;
$title-size: 20px;

// Высота строки (интерлиньяж)
$main-interlining: 21px;
$secondary-interlining: 18px;

// Тип начертания шрифта
$roboto-regular: 400;
$roboto-medium: 500;
$roboto-bold: 700;

// Переменные цветов
$main-dark-text: #343434;
$personal-account-text: #7d7d7d;
$breadcrumb-text: #656565;
$main-white: #ffffff;
$secondary-dark-text: #6e6e6e;
$text-placeholder: #7c7c7c;
$main-green: #55c97b;
$main-green-hover: #058b31;
$main-gray: #b1b1b1;
$input-background: #e6e6e9;
$main-border-color: #cdcdcd;
$secondary-border-color: #d4d4d4;
$main-bgc: #f8faff;
$avatar-border: #d9d9d9;
$avatar-shadow: rgba(136, 167, 245, 0.18);
$menu-item-shadow: rgba(102, 102, 204, 0.67);
$main-red: #e42626;
$secondary-gray: #7f7b7b;
$main-violet: #6666CC;